/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html{
    /*background-color: #2b2b2b;*/
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;  
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0 auto;
    padding:0px;
    width:100%;
    background-image: url('../img/intersection.png');
    text-align: center;
    background-position: center;
    background-size: contain;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.clsDate{
    width: 80px;
}
.btn{
    padding: 4px;
}
.ui-datepicker-title{
    color : grey;        
}
.clsTbl{    
    background-image: url(../img/pixel_weave.png);
    color: #5d5555;
}
.clsTbl .row{
    margin: 0 auto;
    text-align: center;
}
.clsTbl label{
    font-weight: normal;
    color: #c11515;
}
#divLoading{
    text-align: center;    
}
.cntainr{
    margin: 10% 5%
}
#btnRefresh{
    float: right;
}
@font-face {
    font-family: myFirstFont;
    src: url(SpecialElite.ttf);
}
div {
    font-family: tahoma;
}
#divButton{
    text-align: center;
}
#divMessage{
    margin: 2%;
    padding: 10px;
    height: auto;
}
.btn-circle {
    text-align: center;
}
#divContent{
    text-align: center;
    font-size: 150px;
    color: #952fad;
    height: 60%;
}
.fa-bicycle{
    color: #a997a0;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}

// Slider Css
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.navbar-brand{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: white !important;
    padding: 0;
}

.range-slider {
    width: 100%;
}

.stat-show{
    width: 33%;
    margin: 0 6%;
    display: inline-block;
    margin-top: 2%;
}

.range-show{
    width: 33%;
    margin: 0 6%;
    display: inline-block;
}

.guesslabel{
    width: 45%;
    margin: 0 1%;
    display: inline-block;
    color: #265b89;
}

.btn-stat{
/*    background-image: -webkit-linear-gradient(top,#de975b 0,#d2682afa 100%);
    background-image: -o-linear-gradient(top,#de975b 0,#d2682afa 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#de975b),to(#d2682afa));
    background-image: linear-gradient(to bottom,#de975b 0,#d2682afa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: white;*/
}
.range-value, .range-value-result{
    /*width: 50%;*/
}
.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #a8a8a9;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
.fa-hide{
    color: white;
}
.fa-ellipsis-v{
    float: right;
    color: white;
}

.container{
    width: 100%;
    max-width: 100%;
}